.form-field {
  label {
    display: block;
  }
  .vm.input {
    input {
      // width: 95px;
    }
  }


  .validation-message {
    margin-top: 2px;
    font-size: 12px;
    font-style: italic;
    color: #f31700;
  }

}

.validation-tooltip-text {
  font-size: 12px;
}