$selected: #ff6358;
$selected-hover: #eb5b51;
$regular-hover: #e2e2e2;
$head-hover: #ebebeb;
$accordion-border: rgba(0,0,0,0.2);

.vm.v-accordion {
  border: 1px solid $accordion-border;
  box-sizing: border-box;
  outline: 0;

  &.focused {
    // border-top: 1px solid lightpink;

    .ac-link.v-focus {
      box-shadow: inset 0 0 0 2px rgba(94, 92, 92, 0.3);
    }
  }

  .accordion-item {
    .ac-link {
      display: flex;
      align-items: center;
      padding: 4px 8px;
      color: #4bb0ca;
    
      &:hover {
        cursor: pointer;
        color: black;
        background: rgba(113, 113, 113, 0.25);
      }
      &:active {
        color: #4bb0ca;
        background: #ffffff;
        box-shadow: inset 0 0 0 2px rgba(94, 92, 92, 0.3)
      }

      &.v-expanded {
        color: #777;
      }

      &.v-selected {
        // background-color: $selected;
        // color: #fff;
        font-weight: 600;
        color: #777;

        &:hover {
          
          // font-weight: normal;
          
        }

        &:active {
          color: #777;
        }
      }

      .v-caret {
        margin-left: auto;
        color: #000;
      }
    }

    & + .accordion-item {
      border-top: 1px solid $accordion-border;
    }
  }

  .accordion-group {
    & > .accordion-item {
      border-top: 1px solid $accordion-border;
    }
  }

  & > .accordion-item {
    & > .ac-header {
      padding: 8px
    }
  }

  // .accordion-item + .accordion-item {
  //   border-top: 1px solid rgba(0,0,0,0.08);
  // }
}
