$regular-hover: #e2e2e2;
$head-hover: #ebebeb;
$box-shadow-color: rgba(94, 92, 92, 0.3);
$accordion-border: rgba(0,0,0,0.2);
$accordion-header-normal: #4bb0ca;
$accordion-text-header-expanded: #777; 


.vm.v-accordion {
  border: 1px solid $accordion-border;
  box-sizing: border-box;
  outline: 0;

  &.focused {
    .ac-link.v-focus {
      box-shadow: inset 0 0 0 2px $box-shadow-color
    }
  }

  .accordion-item {
    .ac-link {
      display: flex;
      align-items: center;
      padding: 4px 8px;
      color: #4bb0ca;

      &:hover {
        cursor: pointer;
        color: black;
        background: rgba(113, 113, 113, 0.25);
      }
      &:active {
        color: $accordion-header-normal;
        background: #ffffff;
        box-shadow: inset 0 0 0 2px $box-shadow-color;
      }

      &.v-expanded {
        color: $accordion-text-header-expanded;
      }

      &.v-selected {
        font-weight: 600;
        color: $accordion-text-header-expanded;

        &:active {
          color: $accordion-text-header-expanded;
        }
      }

      .v-caret {
        margin-left: auto;
        color: #000;
      }
    }

    & + .accordion-item {
      border-top: 1px solid $accordion-border;
    }
  }

  .accordion-group {
    & > .accordion-item {
      border-top: 1px solid $accordion-border;
    }
  }

  & > .accordion-item {
    & > .ac-header {
      padding: 8px
    }
  }
}
