.accordion-form {
  padding: 20px;
  background: #d2d1d16b;

  label {
    font-size: 14px;
  }
}

.controls {
  margin-bottom: 30px;

  .bp3-control {
    font-size: 14px;
    .bp3-control-indicator {
      font-size: 14px
    }
  }
}
